.page-header {
    background-color: #335599;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}

.content {

    margin-left: 20px;
}

h1 {
    font-size: 26pt;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
    float: right;
    padding: 5px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 15pt;
    margin-right: 20px;
}

.post {
    background-color: honeydew;
    padding: 10px;
    margin-bottom: 50px;
}

.post_title {
    color: #000000;
    font-size: 30pt;
    font-family: 'Lobster', cursive;
}

.comment {
    margin: 20px 0 20px 20px;
}

.comment p {
    word-break: break-all;
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1em;
}

.folder {
    background-color: lightcyan;
    padding: 10px;
    margin-bottom: 50px;
}

.file {
    background-color: #ddffdd;
    padding: 10px;
    margin-bottom: 50px;
}