{% extends 'judge/base.html' %}

{% block content %}
    <h3><a href="{% url 'judge:submission_status' %}">My submissions</a></h3>
	<h2>Problems</h2>
    {% for problem in problems %}
        <div class="problem">
        <h4 class="problem_title">{{ problem.title }}</h4>
        <a class="btn btn-default" href="{% url 'judge:testcase_list' problem_pk=problem.pk %}">Test Case ({{ problem.testcase }})</a>
        <a class="btn btn-default" href="{% url 'judge:submit' problem_pk=problem.pk %}">Submit</a>
        </div>
    {% endfor %}
{% endblock %}
