{% extends 'cloud/base.html' %}

{% block content %}
	<h2>Submission {{ submission.pk }}</h2>
    <div id="status">
    {% if wrong %}
        <a href="{% url 'judge:testcase_detail' problem_pk=problem_pk testcase_index=wrong %}">
            {{ submission.status }}
        </a>
    {% else %}
        <p>{{ submission.status }}</p>
    {% endif %}
    </div>
{% endblock %}

{% load staticfiles %}

{% block scripts %}
{#    <script type="text/javascript" src="{% static 'judge/refresh.js' %}"></script>#}
    <script>
    // setTimeout("location.reload()", 100);
//        var counter = 0;
    var finished = false;
    window.setInterval("refreshDiv()", 1000);
    function refreshDiv() {
        if(finished)
            return;
{#            counter += 1;#}
{#            document.getElementById("status").innerHTML = "refresh "+counter;#}
{#            $.ajax({#}
{#                url: '{% url "judge:submission_status_ajax" submission_pk=submission.pk %}',#}
{#                // url: '/judge/submission/status/6/ajax/',#}
{#                type: 'get',#}
{#                dataType: 'json',#}
{#                success: function(result) {#}
{#                    counter += 1;#}
{#                    if (result) {#}
{#                        document.getElementById("status").innerHTML = result.status + counter;#}
{#                    } else {#}
{#                        document.getElementById("status").innerHTML = "ErrorErrorrrr";#}
{#                    }#}
{#                },#}
{#                error: function (error) {#}
{#                    document.getElementById("status").innerHTML = "ErrorError"+counter;#}
{#                }#}
{#            });#}

{#            $.get('{% url "judge:submission_status_ajax" submission_pk=submission.pk %}',#}
{#                {}, function(data){#}
{#                    counter += 1;#}
{#                    document.getElementById("status").innerHTML = result.status + counter;#}
{#                }#}
{#            );#}

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var text = this.responseText;
                document.getElementById("status").innerHTML = this.responseText;
                if(text.includes('Correct') || text.includes('Wrong') || text.includes('Error')) {
                    finished = true;
                }
            }
        };
        xhttp.open("GET", "{% url 'judge:submission_status_ajax' submission_pk=submission.pk %}", true);
        xhttp.send();
    }
    </script>
{% endblock %}